body {
    margin: 0;
    padding: 0;
    background-color: black
    
  }
  
  header {
    background-color:white;
    margin: 0 auto;
    height: 50;
  }
  
    header h2 {
    color: black;
    font-weight: 300;
    padding: 10px;
    margin: 0;
    font-size: 35px;
    text-align: center;
  }
  
  #cocktail_name{
    color: white
  }

  h3 {
    font-family: futura-pt;
    color: white;
    font-weight: 300;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    
  }
  
  div.card {
    background-color:white;
    height: 250px;
    width: 300px;
    box-shadow: 10px 10px#FF5050;
    padding: 10px;
    border-radius: 10px;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
  }
  
  p {
    font-size: 15px;
    color: white;
    font-weight: 300;
  }
  
  li {
    font-size: 16px;
    color: black;
    list-style: none;
    padding-right: 20px;
  }
  
  button {
    font-size: 10px;
    color: black;
    background-color: white;
    border-radius: 10px;
  }

  img {
    max-width: 200%;
 
}

.add{
  color: white;

}

.Logo{
  display: block;
    margin-left: auto;
    margin-right: auto 
}

form{
  font-size: 21px;
}
  
 label {
   color: white;
   
 }
  
    @media only screen and (min-width: 850px) {
    main {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }